@charset "utf-8";
/* CSS Document */

html{ background:#333;}

#wrapper {width:1200px; min-height:1000px; margin:0 auto; background:#fff}

#header{width:1200px; height:230px; background:#eee;}

#logo img{ margin:67px 0 0 50px;}